.main-page__title {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.main-page__wrapper {
  display: flex;
}

.main-page__sidebar {
  display: flex;
  width: 250px;
  background: #333;
  color: #fff;
}

.main-page__main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 20px;
  height: 710px;
}
