.client-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client-table__title {
  font-size: 25px;
  font-weight: bolder;
}

.client-table__search {
  padding: 10px;
}

.client-table__search input {
  padding: 5px;
  width: 370px;
}

.client-table__container {
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.client-table__button-delete {
  background-color: #ff0000;
  color: #fff;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin: 2px;
}

.client-table__button-delete:hover {
  background-color: rgb(165, 10, 10);
  cursor: pointer;
}

.client-table__button-update {
  background-color: green;
  color: #fff;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin: 2px;
}

.client-table__button-update:hover {
  background-color: rgb(19, 77, 19);
  cursor: pointer;
}

.client-table__button-entryAndExit {
  background-color: rgb(43, 43, 238);
  color: #fff;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-right: 10px;
  margin: 2px;
}

.client-table__button-entryAndExit:hover {
  background-color: rgb(28, 28, 110);
  cursor: pointer;
}

.client-table__confirmed-access {
  color: white;
  background-color: green;
}

.client-table__denied-access {
  color: white;
  background-color: red;
}

.client-table__warning-access {
  color: green;
  background-color: yellow;
}

.client-table__legend {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.client-table__legend-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.client-table__color-box {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.client-table__pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.client-table__sort-th {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  td {
    display: flex;
    padding: 0;
    font-size: 12px;
    word-break: break-all;
  }
  th {
    display: flex;
    padding: 2px;
    font-size: 14px;
  }
  .client-table__search input {
    width: 200px;
  }
  .client-table {
    align-items: flex-start;
  }
  .client-table__legend {
    flex-direction: column;
  }
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
  td {
    padding: 0;
    font-size: 14px;
    word-break: break-all;
  }
  th {
    padding: 6px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1605px) {
  td {
    padding: 0;
    font-size: 14px;
    word-break: break-all;
  }
  th {
    padding: 6px;
    font-size: 14px;
  }
}
