.client-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client-table__title {
  font-size: 25px;
  font-weight: bolder;
}

.client-table__search {
  padding: 10px;
}

.client-table__search input {
  padding: 5px;
  width: 300px;
}

.client-table__container {
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.client-table__button-delete {
  background-color: #ff0000;
  color: #fff;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.client-table__button-update {
  background-color: green;
  color: #fff;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

th {
  background-color: #ff6600;
  color: white;
  padding: 10px;
  text-align: center;
}

/* Style table rows */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style table cells */
td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

/* Add hover effect on rows */
tr:hover {
  background-color: #e0e0e0;
}

.client-table__confirmed-status {
  color: white;
  background-color: green;
}

.client-table__denied-status {
  color: white;
  background-color: red;
}

.client-table__warning-status {
  color: green;
  background-color: yellow;
}

.client-table__legend {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.client-table__legend-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.client-table__color-box {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
