.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}
.footer_wrapper {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.footer__content {
  background-color: #666;
  color: #fff;
  padding: 5px;
  font-family: "Newsreader", serif;
  font-size: 18px;
}

.footer__content:hover {
  background-color: #ff6600;
}
