.header {
  background-color: #271c1c;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: solid 3px #e9830c;
  border-radius: 10px;
}

.header__title {
  font-size: 36px;
  margin-right: 20px;
  color: #e9830c;
  font-family: "Newsreader", serif;
}

.header__admin-info {
  font-size: 18px;
}

.header__link {
  text-decoration: none;
  padding: 30px;
  color: #fff;
}

.header__logout-button {
  background-color: #e9830c;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.header__logout-button:hover {
  background-color: #ff660096;
}
