.membership-entries {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.membership-entries__title {
  font-size: 30px;
  font-weight: bolder;
}

.membership-entries__subtitle {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.membership-entries__subtitle-sum {
  color: #ff6600;
}

.membership-entries__sort-th {
  cursor: pointer;
}
